@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oxygen&display=swap');

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;

}
/* body::-webkit-scrollbar{
  display: none;
} */
#gradient-canvas {
  width: 100%;
  clip-path: polygon(0 0 , 100% 0 , 100% 40%, 0 90%);
  position: absolute;
  --gradient-color-1: #02b0f5; 
  --gradient-color-2: #cf3737; 
  --gradient-color-3: #7038ff;  
  --gradient-color-4: #ffba27;
  z-index:-10;
}


