@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oxygen&display=swap');
@import "phone.css";

/* font-family: 'Noto Sans', sans-serif;
  font-family: 'Oxygen', sans-serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
html{
  height: 100%;
}
body{
  height: 100%;
  background-image: linear-gradient(red, yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-grid {
  padding: 10px 50px;
  width: 900px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  /* border: 3px solid #07b1f7; */
  background-color: white;
  grid-gap: 15px;
  border: 1px 1px 1px black;
}

.form-grid h2 {
  grid-column: 1/span 2;
  font-size: 33px;
  font-weight: 600;
  text-transform: uppercase;
}

.form-box {
  position: relative;
}

.full {
  grid-column: 1/span 2;
}

.discription {
  grid-row: 5/span 2;
  grid-column: 1/ span 2;
}

.description>input {
  height: 100%;
}

input[type="text"],
select,
#discription {
  text-transform: capitalize;
  line-height: 30px;
  font-size: 20px;
  height: 100%;
  width: 100%;
  outline: none;
  padding: 5px 10px;
  background-color: transparent;
  color: #5e5e5e;
  border: none;
  border-bottom: 2px solid #5e5e5e;

}

select option {
  text-transform: capitalize;
}

.form-label {
  color: #5e5e5e;
  text-transform: capitalize;
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 20px;
  transition: all .3s ease;
}

#discription::-webkit-scrollbar {
  display: none;
}

/* 
select {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 1em;
}

select::-ms-expand {
  display: none;
} */

input:focus~label,
input:not(:focus):valid~label,
#discription:focus~label,
#discription:not(:focus):valid~label,
.select-tag-label {
  color: #5e5e5e;
  text-transform: capitalize;
  position: absolute;
  left: 10px;
  top: -10px;
  font-size: 13px;
}

#discription:focus,
input:focus,
select:focus {
  border-bottom: 2px solid red;
}



.submit-btn-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  grid-column: 1/ span 2;

}

.submit-btn {
  width: 28%;
  font-size: 26px;
  height: 46px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
  font-weight: 600;
  color: white;
  background: #fa4242;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.submit-btn:hover {
  background: red;

}


.hide {
  display: none;
}


