
@media only screen and (min-width: 300px) and (max-width: 800px) {
    .form-grid{
        width: 320px !important;
        padding: 10px 20px !important;
        border-radius: 10px !important;

    }
    .heading {
        font-size: 25px !important;
    }
    .submit-btn{
        width: 53%;
    }
}